@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	/* overflow-y: hidden; */
	background-color: #5F746F;
	/* background-color: #1F2231; */
}